<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    {% include "header.html" %}
</head>
<body class="text-center text-white bg-dark">
<section class="section">
    <div class="container-xl">
        <div class="d-flex justify-content-between rounded --align-center navbar_section px-3 py-1">
            <a class="logo">
                School CRM
            </a>
            <div class="nav_menu">
                <a class="menu-item px-3 py-1 rounded active" href="{% url 'index' %}">Home</a>
                <a class="menu-item px-3 py-1 rounded" href="{% url 'schools' %}">Schools</a>
                <a class="menu-item px-3 py-1 rounded" href="{% url 'students' %}">Students</a>
                <a class="menu-item px-3 py-1 rounded" href="{% url 'teachers' %}">Teachers</a>
                <a class="menu-item px-3 py-1 rounded" href="{% url 'courses' %}">Courses</a>
                <a class="menu-item px-3 py-1 rounded" href="/pages/statistics.html">Statistics</a>
                <a class="menu-item px-3 py-1 rounded active" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% block body %}

    {% endblock %}
    </div>
</section>
</body>
</html>