{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="admin__info justify-content-center">
        <div class="info__img my-2 col-md-3">
            <img src="/img/chelovik.png"
                 alt=""
                 class="rounded">
        </div>
        <div class="main__info justify-content-center">
            <h1 class="main__title">
                {{ course.name }}</h1>
            <div class="row mb-3">
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Name</span>
                    <p class="info__text my-1">{{ course.name }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">School</span>
                    <p class="info__text my-1">{{ course.school }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Teacher</span>
                    {% for t in teachers %}
                    <p class="info__text my-1">{{ t.user.first_name }} {{ t.user.last_name }}</p>
                    {% endfor %}
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Cost</span>
                    <p class="info__text my-1">{{ course.cost }}</p>
                </div>
            </div>
            <div class="justify-content-center">
                <div class="btn-group">
                    <a class="btn btn-danger" href="{% url 'delete-course' course.id %}" role="button">Delete Course</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}