{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="admin__info justify-content-center">
        <div class="info__img my-2 col-md-3">
            <img src="/img/chelovik.png"
                 alt=""
                 class="rounded">
        </div>
        <div class="main__info justify-content-center">
            <h1 class="main__title">
                SCHOOL INFORMATION</h1>
            <div class="row mb-3">
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Name</span>
                    <p class="info__text my-1">{{ school.name }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Number</span>
                    <p class="info__text my-1">{{ school.number }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Region</span>
                    <p class="info__text my-1">{{ school.region }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Status</span>
                    <p class="info__text my-1">{{ school.status }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Students</span>
                    <p class="info__text my-1">{{ school.students_number }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Address</span>
                    <p class="info__text my-1">{{ school.address }}</p>
                </div>
                <div class="col-sm-6 mb-3">
                    <span class="title d-block">Phone number</span>
                    <p class="info__text my-1">{{ school.phone_number }}</p>
                </div>
            </div>
            <div class="justify-content-center">
                <div class="btn-group">
                    <a class="btn btn-danger" href="{% url 'delete-school' school.id %}" role="button">Delete School</a>
                </div>

            </div>
        </div>
    </div>

    </div>

{% endblock %}