{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="students_section p-4">
        <div class="section_title my-1 text-white">
            Schools
        </div>

        <!--<div class="btn btn-primary my-3">Add Students</div>-->

        <div class="table row">
            <div class="table_head">
                <div class="row">
                    <div class="col text-dark">Name</div>
                    <div class="col text-dark">Number</div>
                    <div class="col text-dark">Status</div>
                    <div class="col text-dark">Region</div>
                    <div class="col text-dark">Students</div>
                </div>
            </div>
            <div class="table_body">
                {% for school in schools %}
                    <a class="row" href="{{ school.id }}">
                        <div class="col text-white">{{ school.name }}</div>
                        <div class="col text-white">{{ school.number }}</div>
                        <div class="col text-white">{{ school.status }}</div>
                        <div class="col text-white">{{ school.region }}</div>
                        {% if school.students_number == None %}
                            <div class="col text-white">0</div>
                        {% else %}
                            <div class="col text-white">{{ school.students_number}}</div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="justify-content-center">
            <div class="btn-group">

                <button class="btn__stand active" data-bs-toggle="modal"
                        data-bs-target="#addModalRegion">
                    Add School
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addModalRegion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content p-5" method="post">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="section_title">
                    Add Course
                </div>
                {% csrf_token %}
                {{ form.name }}<br>
                {{ form.number }}<br>
                {{ form.status }}<br>
                {{ form.region }}<br>
                <br>
                <span>{{ error }}</span>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>

    <!-----------x-x-x-x---------------------modal add news--------------x-x-x-x----------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/main.min.js' %}"></script>

{% endblock %}